* {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body,
html,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0px;
  padding: 0px;
}
body,
html {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/******/
/*header*/
/*****/
.header {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header ul {
  width: 37vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header li {
  cursor: default;
  list-style-type: none;
  color: white;
  font-size: 15px;
  padding: 0 10px;
}
.header span {
  border-bottom: 1px solid white;
}
/******/
/*big_container1*/
/******/
.big_container_1 {
  width: 100vw;
  background-image: url(./images/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.big_container_1 div {
  width: 50vw;
  margin-top: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.big_container_1 h1 {
  cursor: default;
  margin: 30px;
  text-align: center;
  font-size: 64px;
  color: white;
  text-transform: uppercase;
  /*автомат. увелич. размер букв, и подстраивает их под адаптив.*/
}
.big_container_1 p {
  max-width: 500px;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: default;
}
.big_container_1 button {
  width: 180px;
  color: white;
  background-color: #00afdb;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.7s;
  font-size: 15px;
  padding: 15px;
}
.big_container_1 button:hover {
  transition: 0.7s;
  box-shadow: 3px 4px 3px black;
}
.elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 60px;
}
.elements div {
  width: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.elements img {
  padding: 10px;
}
@media (max-width: 1700px) {
  body {
    font-size: 17px;
  }
  .big_container_1 {
    width: 100vw;
  }
  .big_container_1 div {
    width: 50vw;
    margin-top: 65px;
  }
  .big_container_1 h1 {
    margin: 30px;
    font-size: 40px;
  }
  .big_container_1 p {
    max-width: 500px;
    font-size: 16px;
  }
  .elements {
    margin-top: 200px;
    margin-bottom: 60px;
  }
  .elements div {
    width: 10vw;
    display: flex;
  }
  .elements img {
    padding: 10px;
  }
}
@media (max-width: 1402px) {
  body {
    font-size: 17px;
  }
  .big_container_1 {
    width: 100vw;
  }
  .big_container_1 div {
    width: 40vw;
    margin-top: 65px;
  }
  .big_container_1 h1 {
    margin: 30px;
    font-size: 35px;
  }
  .big_container_1 p {
    max-width: 400px;
    font-size: 14px;
  }
  .elements {
    margin-top: 200px;
    margin-bottom: 60px;
  }
  .elements div {
    width: 10vw;
    display: flex;
  }
  .elements img {
    padding: 10px;
  }
}
@media (max-width: 1061px) {
  body {
    font-size: 17px;
  }
  .big_container_1 {
    width: 100vw;
  }
  .big_container_1 div {
    width: 50vw;
    margin-top: 65px;
  }
  .big_container_1 h1 {
    margin: 30px;
    font-size: 30px;
  }
  .big_container_1 p {
    max-width: 300px;
    font-size: 12px;
  }
  .big_container_1 button {
    width: 120px;
    font-size: 11px;
  }
  .big_container_1 button:hover {
    transition: 0.7s;
    box-shadow: 3px 4px 3px black;
  }
  .elements {
    margin-top: 200px;
    margin-bottom: 60px;
  }
  .elements div {
    width: 10vw;
    display: flex;
  }
  .elements img {
    padding: 10px;
  }
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .big_container_1 {
    width: 100vw;
    padding: 0 50px;
    flex-basis: 50%;
    box-sizing: border-box;
  }
  .big_container_1 h1 {
    margin: 30px;
    font-size: 25px;
  }
  .big_container_1 p {
    font-size: 14px;
  }
}
/******/
/*big_container2*/
/******/
.big_container_2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.container_content h2 {
  cursor: default;
  width: 22vw;
  font-size: 27px;
}
.container_content p {
  cursor: default;
  width: 21vw;
  font-size: 14px;
}
.container_content span {
  font-weight: bold;
}
.container_content button {
  width: 180px;
  color: white;
  font-size: 14px;
  background-color: #00afdb;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.7s;
  font-size: 15px;
  padding: 15px;
}
.container_content button:hover {
  transition: 0.7s;
  box-shadow: 3px 4px 3px black;
}
.container_image img {
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .big_container_2 {
    width: 100vw;
    margin: 0 auto;
    padding: 50px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container_content {
    padding: 0 50px;
    flex-basis: 50%;
    box-sizing: border-box;
    text-align: justify;
  }
  .container_content h2 {
    width: 50vw;
    font-size: 20px;
  }
  .container_content p {
    width: 50vw;
    font-size: 14px;
  }
  .container_content button {
    width: 120px;
    font-size: 11px;
  }
  .container_content button:hover {
    transition: 0.7s;
    box-shadow: 3px 4px 3px black;
  }
  .container_image img {
    width: 100%;
    padding: 100px 0;
  }
}
/******/
/*big_container3*/
/******/
.big_container_3 {
  padding: 50px;
  margin: 0 auto;
  background-color: #f5f6f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.small_content {
  padding: 12px;
  display: flex;
  margin: 0 120px;
}
.small_content div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.small_content h3 {
  cursor: default;
  margin: 15px 0;
  font-size: 17px;
}
.small_content p {
  cursor: default;
  font-size: 15px;
  text-align: center;
  max-width: 320px;
}
.content_photo {
  padding: 50px 0;
}
.content_photo div {
  display: flex;
  justify-content: space-around;
}
.content_photo img {
  width: 50%;
  padding: 0 15px;
  transition-property: 1s;
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .big_container_3 {
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .small_content {
    padding: 12px;
    margin: 0 40px;
  }
  .small_content h3 {
    margin: 15px 0;
    font-size: 20px;
  }
  .small_content p {
    text-align: justify;
    font-size: 14px;
    padding: 0 auto;
    max-width: 230px;
  }
  .content_photo div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content_photo img {
    width: 100%;
    padding: 15px 0;
  }
}
/******/
/*big_container4*/
/******/
.big_container_4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img_container {
  padding: 100px 0;
}
.big_container-content {
  width: 407px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.big_container-content div {
  text-align: justify;
}
.big_container-content h3 {
  font-size: 24px;
  cursor: default;
}
.big_container-content p {
  font-size: 14px;
  cursor: default;
}
.big_container-content span {
  font-weight: bold;
}
.big_container-content button {
  width: 180px;
  height: 46px;
  color: white;
  font-size: 14px;
  background-color: #00afdb;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.7s;
  font-size: 15px;
  padding: 15px;
}
.big_container-content button:hover {
  transition: 0.7s;
  box-shadow: 3px 4px 3px black;
}
@media (max-width: 1083px) {
  body {
    font-size: 17px;
  }
  .img_container img {
    width: 100%;
    padding: 0 20px;
  }
  .big_container-content div {
    text-align: justify;
    padding: 0 20px;
  }
  .big_container-content h3 {
    font-size: 22px;
  }
  .big_container-content p {
    font-size: 14px;
  }
  .big_container-content button {
    width: 150px;
    height: 46px;
    font-size: 14px;
  }
  .big_container-content button:hover {
    transition: 0.7s;
    box-shadow: 3px 4px 3px black;
  }
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .big_container_4 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .img_container img {
    width: 100%;
    padding: 0 50px;
  }
  .big_container-content {
    text-align: justify;
  }
  .big_container-content h3 {
    font-size: 20px;
  }
  .big_container-content p {
    max-width: 180px;
    font-size: 14px;
  }
  .big_container-content button {
    width: 120px;
    font-size: 11px;
  }
}
/******/
/*big_container5*/
/******/
.big_container_5 {
  background-image: url(./images/background2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sign_up {
  width: 406px;
  height: 104px;
  display: flex;
  justify-content: center;
  margin: 200px auto;
}
.sign_up div {
  color: white;
}
.sign_up h3 {
  cursor: default;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
#email {
  font-size: 14px;
}
input {
  width: 330px;
  height: 46px;
  border: none;
  outline: none;
}
button {
  background-color: #00afdb;
  width: 66px;
  height: 46px;
  border: none;
  outline: none;
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .sign_up {
    width: 406px;
    height: 104px;
    margin: 200px auto;
  }
  .sign_up h3 {
    font-size: 20px;
  }
  form {
    padding: 40px 0;
  }
  #email {
    font-size: 14px;
  }
  input {
    width: 250px;
    height: 46px;
  }
  button {
    width: 55px;
    height: 46px;
  }
}
/******/
/*big_container6*/
/******/
.big_container_6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px;
  background-color: #f5f6f7;
}
.download {
  display: flex;
  justify-content: center;
}
.download div {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.download h3 {
  font-size: 24px;
  font-style: normal;
}
.text {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}
.text p {
  width: 480px;
  font-size: 14px;
}
.btn_store {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.btn_store div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
}
.btn_store button {
  width: 127px;
  height: 46px;
  font-size: 14px;
  color: white;
}
.btn_store .btn_img {
  width: 59px;
  background-color: #009cc2;
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .big_container_6 {
    padding: 200px;
  }
  .download h3 {
    width: 250px;
    font-size: 20px;
  }
  .text {
    text-align: justify;
  }
  .text p {
    max-width: 200px;
    font-size: 14px;
  }
  .btn_store {
    display: flex;
    justify-content: space-between;
  }
  .btn_store div {
    padding: 0 10px;
  }
  .btn_store button {
    width: 100px;
    height: 46px;
    font-size: 14px;
  }
  .btn_store .btn_img {
    width: 50px;
  }
}
/******/
/*big_container7*/
/******/
.big_container_7 {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 50px;
}
.footer_nav {
  display: flex;
  justify-content: space-around;
}
.footer_nav div {
  width: 236px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer_nav p {
  font-size: 14px;
}
.footer_img {
  display: flex;
  justify-content: center;
}
.footer_img div {
  display: flex;
  justify-content: center;
}
.footer_img img {
  width: 44px;
  height: 44px;
}
.footer_author {
  display: flex;
  justify-content: space-around;
}
.footer_author div {
  display: flex;
  justify-content: center;
}
.footer_author p {
  font-size: 14px;
}
.footer_author span {
  color: #818181;
}
@media (max-width: 764px) {
  body {
    font-size: 17px;
  }
  .big_container_7 {
    padding: 70px 10px;
  }
  .footer_nav div {
    width: 236px;
  }
  .footer_nav p {
    font-size: 14px;
    padding: 0 10px;
  }
  .footer_img {
    padding: 0 10px;
  }
  .footer_img img {
    width: 44px;
    height: 44px;
  }
  .footer_author p {
    font-size: 14px;
    padding: 0 10px;
  }
}
